!!! 5
%html
  %head
    %title Ruby Sinatra Example
    %link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div.container
      = yield
